<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.zhouyepang.instagramapp">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FeedActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainPage"
            android:label="@string/title_activity_main_page"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Discover"
            android:parentActivityName=".MainPage" />
        <activity
            android:name=".UploadSelect"
            android:parentActivityName=".MainPage" />
        <activity
            android:name=".Profile"
            android:parentActivityName=".MainPage" />
        <activity
            android:name=".UploadOptions"
            android:parentActivityName=".UploadSelect" />
        <activity android:name=".PhotoEditor"
            android:parentActivityName=".MainPage"></activity>
    </application>

</manifest>